
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 mt-5">
            <p>
                Restore code has been sent to your email. Insert it below to recover your account:
            </p>

            <form action="/api_restore_password" method="POST">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="code">Code (6 digits):</label>
                    <input type="text" name="code" id="code" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="newpass">New password:</label>
                    <input type="password" name="newpass" id="newpass" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="repeatpass">Repeat new password:</label>
                    <input type="password" name="repeatpass" id="repeatpass" class="form-control" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update pass</button>
                </div>
            </form>
        </div>
    </div>
</div>
