
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 mt-5">
            <h2>Restore your password: </h2>
            <form action="/api_request_pass_restore" method="POST" class="mt-2">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required class="form-control">
                </div>
                <button type="submit" class="btn btn-primary float-right mt-3">
                    Send code
                </button>
            </form>
        </div>
    </div>
</div>

