

.rangeLabels {
    display: flow-root;
    margin-bottom: 15px;
    .from {
        float: left;
    }
    .to {
        float: right;
    }
}

.block-checkbox {
    display: block;
    margin-bottom: 7px;
}

